:root {
  --color-primary: #c8c6f9;
  --color-primary-light: hsl(242, 91%, 69%, 18%);
  --color-primary-variant: #bbb9f0;
  --color-red: #da0f3f;
  --color-red-light: hsl(346, 87%, 46%, 15%);
  --color-green: #00c476;
  --color-green-light: hsl(156, 100%, 38%, 15%);
  --color-gray-900: #1e1e66;
  --color-gray-700: #2d2b7c;
  --color-gray-400: rgba(0, 0, 0, 0.43);
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);
  --color-white: #070710;
  --color-bg: #e3e3f0;

  --transition: all 300ms ease;

  --container-width-lg: 74%;
  --container-width-md: 88%;
  --form-width: 40%;

  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140vh;
}

.form__section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 400px;
}

.form__section h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.alert__message {
  display: none; /* Hide by default */
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.alert__message.error {
  background-color: #f8d7da;
  color: #721c24;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__control {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form__control.inline {
  flex-direction: row;
  align-items: center;
}

input,
textarea,
select {
  padding: 0.8rem 1.4rem;
  background-color: var(--color-bg);
  border: 1px solid var(--color-white);
  border-radius: var(--card-border-radius-2);
  resize: none;
  color: var(--color-white);
}

form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.btn {
  width: 100%;
  padding: 0.8rem;
  background-color: #879d87;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #4cae4c;
}

@media (max-width: 480px) {
  .form__section {
    width: 90%;
  }
}
